In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/05 21:12:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark.version

'3.5.1'

In [13]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [15]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [16]:
df = df.repartition(6)
df.write.parquet('fhv_tripdata_october/')

In [ ]:
# Following may needs kernel restart

In [7]:
import pandas as pd

df_pandas = pd.read_csv('customers-100.csv')

spark.createDataFrame(df_pandas).show()

+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|             City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|     Rasmussen Group|     East Leonard|               Chile|        229.077.5154|    397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|   Preston|   Lozano|         Vega-Gentry|East Jimmychester|            Djibouti|          5153435776|    686-620-1820x944|     vmata@colon.com|       2021-04-23|http://www.hobbs....|
|    3|6F94879bDAfE5a6|       Roy|    Berry|       Murillo-Perry|    Isabelborough| Antigua and Barbuda|     +1-539-402-0259| (496)978-3969x58947| beckycarr@hogan.com|       2020-03-25|http://www.lawren...|
|    4|5Cef8BFA16c5e3c|     Linda|    Olsen|Dominguez, Mcmill...|       Bensonview|  Dominican Republic|001-808-617-6467x...|     +1-813-324-8756|stanleyblackwell@...|       2020-06-02|http://www.good-l...|
|    5|053d585Ab6b3159|    Joanna|   Bender|Martin, Lang and ...|   West Priscilla|Slovakia (Slovak ...|001-234-203-0635x...|001-199-446-3860x...|colinalvarado@mil...|       2021-04-17|https://goodwin-i...|
|    6|2d08FB17EE273F4|     Aimee|    Downs|        Steele Group|    Chavezborough|Bosnia and Herzeg...| (283)437-3886x88321|        999-728-1637| louis27@gilbert.com|       2020-02-25|http://www.berger...|
|    7|EA4d384DfDbBf77|    Darren|     Peck|Lester, Woodard a...|         Lake Ana|    Pitcairn Islands|  (496)452-6181x3291|+1-247-266-0963x4995| tgates@cantrell.com|       2021-08-24| https://www.le.com/|
|    8|0e04AFde9f225dE|     Brett|   Mullen|Sanford, Davenpor...|          Kimport|            Bulgaria|001-583-352-7197x297|    001-333-145-0369|     asnow@colon.com|       2021-04-12|https://hammond-r...|
|    9|C2dE4dEEc489ae0|    Sheryl|   Meyers|      Browning-Simon|     Robersonstad|              Cyprus|   854-138-4911x5772| +1-448-910-2276x729|mariokhan@ryan-po...|       2020-01-13|https://www.bullo...|
|   10|8C2811a503C7c5a|  Michelle|Gallagher|        Beck-Hendrix|       Elaineberg|         Timor-Leste|    739.218.2516x459|001-054-401-0347x617|   mdyer@escobar.net|       2021-11-08|  https://arias.com/|
|   11|216E205d6eBb815|      Carl|Schroeder|Oconnell, Meza an...|     Shannonville|            Guernsey|    637-854-0256x825|    114.336.0784x788|  kirksalas@webb.com|       2021-10-20|https://simmons-h...|
|   12|CEDec94deE6d69B|     Jenna|   Dodson|Hoffman, Reed and...|      East Andrea|             Vietnam|       (041)737-3846|+1-556-888-3485x4...|  mark42@robbins.com|       2020-11-29|http://www.dougla...|
|   13|e35426EbDEceaFF|    Tracey|     Mata|      Graham-Francis|South Joannamouth|                Togo|    001-949-844-8787|       (855)713-8773|    alex56@walls.org|       2021-12-02|http://www.beck.com/|
|   14|A08A8aF8BE9FaD4|  Kristine|      Cox|      Carpenter-Cook|         Jodyberg|           Sri Lanka|  786-284-3358x62152|+1-315-627-1796x8074|holdenmiranda@cla...|       2021-02-08|https://www.brand...|
|   15|6fEaA1b7cab7B6C|     Faith|     Lutz|      Carter-Hancock|        Burchbury|           Singapore|  (781)861-7180x8306|        207-185-3665|cassieparrish@ble...|       2022-01-26|http://stevenson....|
|   16|8cad0b4CBceaeec|   Miranda|  Beasley|  Singleton and Sons|     Desireeshire|                Oman|    540.085.3135x185|+1-600-462-6432x2...|vduncan@parks-har...|       2022-04-12|  http://acosta.org/|
|   17|a5DC21AE3a21eaA|  Caroline|    Foley|     Winters-Mendoza|West Adriennestad|      Western Sahara|   936.222.4746x9924|001-469-948-6341x359|holtgwendolyn@wat...|       2021-03-10|http://www.benson...|
|   18|F8Aa9d6DfcBeeF8|      Greg|     Mata|       Valentine LLC|      Lake Leslie|          Mozambique|       (701)087-2415| (195)156-1861x26241|jaredjuarez@carro...|       2022-03-26|http://pitts-cher...|
|   19|F160f5Db3EfE973|  Clifford| Jacobson|           Simon LLC|       Harmonview|South Georgia and...|001-151-330-3524x...|       (748)477-7174|joseph26@jacobson...|       2020-09-24|https://mcconnell...|
|   20|0F60FF3DdCd7aB0|    Joanna|     Kirk|      Mays-Mccormick|       Jamesshire|    French Polynesia|   (266)131-7001x711| (283)312-5579x11543|tuckerangie@salaz...|       2021-09-24|https://www.camac...|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [9]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('Index', LongType(), True), StructField('Customer Id', StringType(), True), StructField('First Name', StringType(), True), StructField('Last Name', StringType(), True), StructField('Company', StringType(), True), StructField('City', StringType(), True), StructField('Country', StringType(), True), StructField('Phone 1', StringType(), True), StructField('Phone 2', StringType(), True), StructField('Email', StringType(), True), StructField('Subscription Date', StringType(), True), StructField('Website', StringType(), True)])

In [15]:
from pyspark.sql import types

In [16]:
schema = types.StructType([
        types.StructField('Index', types.LongType(),True), 
        types.StructField('Customer Id', types.StringType(), True),
        types.StructField('First Name', types.StringType(), True),
        types.StructField('Last Name',types. StringType(), True),
        types.StructField('Company', types.StringType(), True),
        types.StructField('City', types.StringType(), True),
        types.StructField('Country', types.StringType(), True),
        types.StructField('Phone 1', types.StringType(), True),
        types.StructField('Phone 2', types.StringType(), True),
        types.StructField('Email', types.StringType(), True),
        types.StructField('Subscription Date', types.StringType(), True),
        types.StructField('Website', types.StringType(), True)
                          ])

In [17]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('customers-100.csv')

In [19]:
df.head(1)

[Row(Index=1, Customer Id='DD37Cf93aecA6Dc', First Name='Sheryl', Last Name='Baxter', Company='Rasmussen Group', City='East Leonard', Country='Chile', Phone 1='229.077.5154', Phone 2='397.884.0519x718', Email='zunigavanessa@smith.info', Subscription Date='2020-08-24', Website='http://www.stephenson.com/')]

In [20]:
df = df.repartition(24)

In [21]:
df.write.parquet('customers/')

24/02/29 00:11:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/29 00:11:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/29 00:11:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/29 00:11:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/02/29 00:11:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/02/29 00:11:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/02/29 00:11:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/29 00:11:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/29 00:11:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [7]:
df = spark.read.parquet('customers')

In [8]:
df

DataFrame[Index: bigint, Customer Id: string, First Name: string, Last Name: string, Company: string, City: string, Country: string, Phone 1: string, Phone 2: string, Email: string, Subscription Date: string, Website: string]

In [9]:
df.show()

+-----+---------------+----------+---------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|               City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|   27|aBdfcF2c50b0bfD|    Dakota|    Poole|       Simmons Group|       Michealshire|             Belarus|  (371)987-8576x4720|        071-152-1376| stacey67@fields.org|       2022-02-20|https://sanford-w...|
|   87|ebe77E5Bf9476CE|     Duane|    Woods|      Montoya-Miller|          Lyonsberg|            Maldives|  (636)544-7783x7288|  (203)287-1003x5932|  kmercer@wagner.com|       2020-07-21|  http://murray.org/|
|   94|54B5B5Fe9F1B6C5|    Sherry|    Young|Lee, Lucero and J...|       Frankchester|     Solomon Islands|        158-687-1764|   (438)375-6207x003|alan79@gates-mcla...|       2021-04-04| https://travis.net/|
|   58|B5acdFC982124F2|     Danny|  Parrish|           Novak LLC|     East Jaredbury|United Arab Emirates|  (669)384-8597x8794|    506.731.5952x571|howelldarren@hous...|       2021-03-17|http://www.parson...|
|    3|6F94879bDAfE5a6|       Roy|    Berry|       Murillo-Perry|      Isabelborough| Antigua and Barbuda|     +1-539-402-0259| (496)978-3969x58947| beckycarr@hogan.com|       2020-03-25|http://www.lawren...|
|   54|c09952De6Cda8aA|    Stacie|  Richard|            Byrd Inc|        New Deborah|          Madagascar|001-622-948-3641x...|001-731-168-2893x...|clinton85@colon-a...|       2020-10-15|    https://kim.com/|
|   35|aA9BAFfBc3710fe|     Faith|     Moon|Waters, Chase and...|   West Marthaburgh|             Bahamas|+1-586-217-0359x6317|     +1-818-199-1403|willistonya@rando...|       2021-11-03|https://spencer-c...|
|   92|98b3aeDcC3B9FF3|     Shane|    Foley|          Rocha-Hart|   South Dannymouth|             Hungary|     +1-822-569-0302|001-626-114-5844x...|  nsteele@sparks.com|       2021-07-06|https://www.holt-...|
|   13|e35426EbDEceaFF|    Tracey|     Mata|      Graham-Francis|  South Joannamouth|                Togo|    001-949-844-8787|       (855)713-8773|    alex56@walls.org|       2021-12-02|http://www.beck.com/|
|   20|0F60FF3DdCd7aB0|    Joanna|     Kirk|      Mays-Mccormick|         Jamesshire|    French Polynesia|   (266)131-7001x711| (283)312-5579x11543|tuckerangie@salaz...|       2021-09-24|https://www.camac...|
|   68|a014Ec1b9FccC1E|       Tom| Alvarado| Donaldson-Dougherty|   South Sophiaberg|            Kiribati|  (585)606-2980x2258|   730-797-3594x5614|nicholsonnina@mon...|       2020-08-18|http://odom-masse...|
|   30|EDA69ca7a6e96a2|      Kent| Bradshaw|          Sawyer PLC|       North Harold|            Tanzania| +1-472-143-5037x884|        126.922.6153|   qjimenez@boyd.com|       2020-04-26|http://maynard-ho...|
|   10|8C2811a503C7c5a|  Michelle|Gallagher|        Beck-Hendrix|         Elaineberg|         Timor-Leste|    739.218.2516x459|001-054-401-0347x617|   mdyer@escobar.net|       2021-11-08|  https://arias.com/|
|   77|BF6a1f9bd1bf8DE|  Brittany|   Zuniga|        Mason-Hester|      West Reginald|     Kyrgyz Republic|       (050)136-9025|001-480-851-2496x...|mchandler@cochran...|       2021-07-24|http://www.boyle....|
|   26|09D7D7C8Fe09aea|    Marcus|    Moody|           Giles Ltd|        Kaitlyntown|              Panama|        674-677-8623|    909-277-5485x566|donnamullins@norr...|       2022-05-24|https://www.curry...|
|   59|8c7DdF10798bCC3|     Kathy|     Hill|Moore, Mccoy and ...|         Selenabury|South Georgia and...|001-171-716-2175x310|        888.625.0654|ncamacho@boone-si...|       2020-11-15|  http://hayden.com/|
|   43|7E441b6B228DBcA|     Wayne|  Simpson|     Perkins-Trevino|East Rebekahborough|             Bolivia|  (344)156-8632x1869|  463-445-3702x38463|barbarapittman@ho...|       2020-12-13|https://gillespie...|
|   63|aEcbe5365BbC67D|     Eddie|  Jimenez|      Caldwell Group|      West Kristine|            Ethiopia|+1-235-657-1073x6306|  (026)401-7353x2417|kristiwhitney@ber...|       2022-03-24|  http://cherry.com/|
|   65|636cBF0835E10ff|    Eileen|    Lynch|Knight, Abbott an...|       Helenborough|             Liberia|+1-158-951-4131x5...|001-673-779-6713x680|levigiles@vincent...|       2021-01-02|   http://mckay.com/|
|   80|A7F85c1DE4dB87f| Alejandro|    Blair|Combs, Waller and...|         Thomasland|             Iceland| (690)068-4641x51468|   555.509.8691x2329|elizabethbarr@ewi...|       2020-09-19|https://mercado-b...|
+-----+---------------+----------+---------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- Index: long (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: string (nullable = true)
 |-- Website: string (nullable = true)

In [21]:
df.select('First Name', 'last Name').filter(df."Customer Id" == 2)

SyntaxError: invalid syntax (2531532772.py, line 1)

In [16]:
df.show(1)

+-----+---------------+----------+---------+-------------+------------+-------+------------------+------------+-------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|      Company|        City|Country|           Phone 1|     Phone 2|              Email|Subscription Date|             Website|
+-----+---------------+----------+---------+-------------+------------+-------+------------------+------------+-------------------+-----------------+--------------------+
|   27|aBdfcF2c50b0bfD|    Dakota|    Poole|Simmons Group|Michealshire|Belarus|(371)987-8576x4720|071-152-1376|stacey67@fields.org|       2022-02-20|https://sanford-w...|
+-----+---------------+----------+---------+-------------+------------+-------+------------------+------------+-------------------+-----------------+--------------------+
only showing top 1 row

In [1]:
spark.version

NameError: name 'spark' is not defined