In [4]:
%pip install pandas
import pandas as pd

Collecting pandas
  Using cached pandas-2.2.0-cp310-cp310-macosx_10_9_x86_64.whl (12.5 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./zoomcamp/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting numpy<2,>=1.22.4
  Using cached numpy-1.26.3-cp310-cp310-macosx_10_9_x86_64.whl (20.6 MB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2023.4-py2.py3-none-any.whl (346 kB)
Requirement already satisfied: six>=1.5 in ./zoomcamp/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.2.0 pytz-2023.3.post1 tzdata-2023.4

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

/var/folders/00/vcp7v6z935z12g1xz_rwwnz80000gp/T/ipykernel_54712/2250148063.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [12]:
# df doesn't know what datetime is. so convert string to datetime.
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [19]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [24]:
# df doesn't know what datetime is. so convert string to datetime.
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
# insert header into table
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [27]:
# insert 1000 record x 10 = 100000
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.86 s, sys: 212 ms, total: 7.07 s
Wall time: 11.4 s

1000

In [29]:
from time import time

In [32]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f'inserted another chuck..., took {t_end - t_start:.3f}')

inserted another chuck..., took 10.885
inserted another chuck..., took 12.540
inserted another chuck..., took 12.705
inserted another chuck..., took 14.154

/var/folders/00/vcp7v6z935z12g1xz_rwwnz80000gp/T/ipykernel_19336/930569879.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chuck..., took 13.550
inserted another chuck..., took 8.928

StopIteration:

In [55]:

df = pd.read_csv('green_tripdata_2019-09.csv')
# df.head()
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

target_pickup_datetime = pd.to_datetime('2019-09-18 00:00:00')
target_dropoff_datetime = pd.to_datetime('2019-09-18 23:59:59')


# filtered_df = df[(df['lpep_pickup_datetime'] < target_pickup_datetime) & (df['lpep_dropoff_datetime'] > target_dropoff_datetime)]
filtered_df = df[(df['lpep_pickup_datetime'] > target_pickup_datetime) & (df['lpep_dropoff_datetime'] < target_dropoff_datetime)]
# filtered_df = df[(df['lpep_pickup_datetime'] < threshold_date)]

# Count the number of records in the filtered DataFrame
print(len(filtered_df))
filtered_df.head()


# df.tpep_dropoff_datetime == "2008-12-31 23:05:14.000"

/var/folders/00/vcp7v6z935z12g1xz_rwwnz80000gp/T/ipykernel_54712/259487117.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

15611

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
217634,2.0,2019-09-18 09:12:39,2019-09-18 09:20:14,N,1.0,95,134,1.0,1.38,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218133,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218134,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,6.5,0.5,0.5,0.0,0.0,NaN,0.3,7.8,2.0,1.0,0.0
218254,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218281,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,26.5,0.5,0.5,0.0,0.0,NaN,0.3,27.8,2.0,1.0,0.0

In [53]:
filtered_df.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
423824,NaN,2019-09-18 23:10:00,2019-09-18 23:28:00,NaN,NaN,61,63,NaN,4.03,23.11,2.75,0.5,0.0,0.0,NaN,0.0,26.36,NaN,NaN,NaN
423825,NaN,2019-09-18 23:18:00,2019-09-18 23:59:00,NaN,NaN,71,226,NaN,9.97,59.50,0.00,0.5,0.0,0.0,NaN,0.0,60.00,NaN,NaN,NaN
423828,NaN,2019-09-18 23:00:00,2019-09-18 23:15:00,NaN,NaN,39,76,NaN,3.17,22.25,2.75,0.5,0.0,0.0,NaN,0.0,25.50,NaN,NaN,NaN
423830,NaN,2019-09-18 23:19:00,2019-09-18 23:34:00,NaN,NaN,75,247,NaN,3.74,24.12,2.75,0.5,0.0,0.0,NaN,0.0,27.37,NaN,NaN,NaN
423831,NaN,2019-09-18 23:04:00,2019-09-18 23:14:00,NaN,NaN,49,61,NaN,1.97,15.25,2.75,0.5,0.0,0.0,NaN,0.0,18.50,NaN,NaN,NaN

In [65]:
# # filtered_df_largest_tip = df[(df['tip_amount'] > target_pickup_datetime) & (df['lpep_dropoff_datetime'] < target_dropoff_datetime)]
# filtered_df_largest_tip = df['tip_amount'].max()
# filtered_df_largest_tip_date = df[(df['tip_amount'] == 400)]
# print(filtered_df_largest_tip_date)

# Find the index of the row with the largest value in the specified column
index_of_largest_value = df['trip_distance'].idxmax()

# Retrieve the row with the largest value
row_with_largest_value = df.loc[index_of_largest_value]

# Display the result
print("Row with the largest value:")
print(row_with_largest_value)

Row with the largest value:
VendorID                                 2.0
lpep_pickup_datetime     2019-09-26 19:32:52
lpep_dropoff_datetime    2019-09-27 01:50:27
store_and_fwd_flag                         N
RatecodeID                               4.0
PULocationID                             265
DOLocationID                              16
passenger_count                          1.0
trip_distance                         341.64
fare_amount                           1761.0
extra                                    1.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                          1762.8
payment_type                             2.0
trip_type                                1.0
congestion_surcharge                     0.0
Name: 337292, dtype: object

In [114]:

df = pd.read_csv('green_tripdata_2019-09.csv')
df_zone = pd.read_csv('taxi+_zone_lookup.csv')
 
# df.head()
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

result = pd.merge(df, df_zone, left_on='PULocationID', right_on='LocationID')

print(len(result))


target_pickup_datetime = pd.to_datetime('2019-09-01 00:00:00')
target_dropoff_datetime = pd.to_datetime('2019-09-30 23:59:59')

filtered_df_date = result[(result['lpep_pickup_datetime'] > target_pickup_datetime) & (result['lpep_dropoff_datetime'] < target_dropoff_datetime)]

# filtered_df_date.head()

result_filtered = filtered_df_date[(filtered_df_date['Borough'] != 'Unknown') & (filtered_df_date['Zone'] == 'Astoria')]

#  & (result['total_amount'] < 50000)

print(len(result_filtered))

print(result_filtered['Borough'].unique())

# result_filtered.head()

# result_filtered.groupby('Borough')['total_amount'].sum().reset_index()

result_filtered.sort_values(by='tip_amount', ascending=False)

/var/folders/00/vcp7v6z935z12g1xz_rwwnz80000gp/T/ipykernel_54712/2370915972.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

449063
18258
['Queens']

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,LocationID,Borough,Zone,service_zone
98185,2.0,2019-09-08 18:10:40,2019-09-08 18:44:42,N,1.0,7,132,1.0,14.05,40.00,...,NaN,0.3,103.11,1.0,1.0,0.00,7,Queens,Astoria,Boro Zone
183094,2.0,2019-09-15 02:01:47,2019-09-15 02:24:43,N,1.0,7,260,5.0,2.18,14.50,...,NaN,0.3,45.80,1.0,1.0,0.00,7,Queens,Astoria,Boro Zone
315765,2.0,2019-09-25 10:24:32,2019-09-25 11:32:44,N,1.0,7,137,1.0,4.92,38.50,...,NaN,0.3,70.05,1.0,1.0,2.75,7,Queens,Astoria,Boro Zone
21021,2.0,2019-09-03 04:25:59,2019-09-03 04:26:02,N,1.0,7,264,1.0,0.00,2.50,...,NaN,0.3,28.80,1.0,1.0,0.00,7,Queens,Astoria,Boro Zone
151104,2.0,2019-09-12 20:36:36,2019-09-12 21:11:44,N,1.0,7,239,2.0,5.33,23.50,...,NaN,0.3,47.55,1.0,1.0,2.75,7,Queens,Astoria,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166949,1.0,2019-09-13 23:15:39,2019-09-13 23:46:02,N,1.0,7,230,1.0,5.00,21.50,...,NaN,0.3,25.55,2.0,1.0,2.75,7,Queens,Astoria,Boro Zone
166957,2.0,2019-09-13 23:22:17,2019-09-13 23:33:32,N,1.0,7,82,1.0,2.59,11.00,...,NaN,0.3,12.30,2.0,1.0,0.00,7,Queens,Astoria,Boro Zone
167024,2.0,2019-09-13 23:02:31,2019-09-13 23:08:01,N,1.0,7,7,1.0,0.99,6.00,...,NaN,0.3,7.30,2.0,1.0,0.00,7,Queens,Astoria,Boro Zone
167025,2.0,2019-09-13 23:09:32,2019-09-13 23:14:52,N,1.0,7,129,1.0,1.65,7.00,...,NaN,0.3,8.30,2.0,1.0,0.00,7,Queens,Astoria,Boro Zone
448992,NaN,2019-09-30 21:30:00,2019-09-30 21:51:00,NaN,NaN,7,82,NaN,4.53,21.25,...,NaN,0.0,24.50,NaN,NaN,NaN,7,Queens,Astoria,Boro Zone